@charset "UTF-8";

header {
    width: 1000px;
    background-color: #ffcccc;
}

footer {
    width: 1000px;
    background: #ffccff;
}

#wrapper {
    width: 1000px;
    margin: 0;
}

#main {
    background-color: #ccffcc;
    width: 700px;
    float: left;
}


#menu {
    background-color: #ccccff;
    width: 300px;
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
